<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.bgimg {background-image: url("img/wedding_1.jpeg")}
.bgimg2 {background-image: url("https://www.w3schools.com/w3images/flowers.jpg")}

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}
</style>
<body>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
  <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption"></p>
  </div>
</div>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">세진 & 태준</h1>
    <h2>결혼합니다.</h2>
    <h2><b>2019.06.22</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="#us" style="width:25%" class="w3-bar-item w3-button">세진 & 태준</a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a>
    <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
  </div>
</div>

<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>세진 & 태준</b></h1>
    <img class="w3-round w3-grayscale-min" src="https://www.w3schools.com/w3images/wedding_couple2.jpg" style="width:100%;margin:32px 0">
    <p><i>갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩
    갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩갈매기가 끼룩끼룩</i>
    </p><br>
    <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
  </div>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">초대합니다.</h1><br>
    <h2></h2>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
    <img class="w3-round-large w3-grayscale-min" src="https://www.w3schools.com/w3images/wedding_location.jpg" style="width:100%;margin:64px 0">
    <div class="w3-row">
      <div class="w3-half">
        <h2>일시</h2>
        <p>2019. 06. 22(토요일)</p>
        <p>오후 2:00</p>
      </div>
      <div class="w3-half">
        <h2>장소</h2>
        <p>서울특별시 영등포구 당산동</p>
        <p>그랜드컨벤션 웨딩홀 3층</p>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">신부측에 연락하기</button>
  </p>
  <p class="w3-xlarge">
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-blue w3-opacity w3-hover-opacity-on" style="padding:8px 60px">신랑측에 연락하기</button>
  </p>
</div>

<!--연락 modal -->
<div id="id01" class="w3-modal">
  	<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px;">
	    <div>
	    	<p>신랑</p>
	    	<div class="w3-bar w3-border">
		      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>전화하기</a>
		      <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>문자하기</a>
		    </div>
		</div>
	
		<div>
		    <p>아버지 김통호</p>
		    <div class="w3-bar w3-border">
		      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>전화하기</a>
		      <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>문자하기</a>
		    </div>
		</div>
	
		<div>
		    <p>어머니 서영자</p>
		    <div class="w3-bar w3-border">
		      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>전화하기</a>
		      <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>문자하기</a>
		    </div>
		</div>
		<br/>
		<br/>
		<br/>
		<div class="w3-bar w3-border">
			<button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">닫기</button>
		</div>
	</div>
</div>

<header class="w3-center w3-margin-bottom">
  <h1><b>PHOTOLIO</b></h1>
  <p><b>A template made by w3.css for photographers.</b></p>
  <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button></p>
</header>  
<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%" onclick="onClick(this)" alt="A boy surrounded by beautiful nature">
    <img src="https://www.w3schools.com/w3images/sound.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/woods.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/rock.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="https://www.w3schools.com/w3images/coffee.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/bridge.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/notebook.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/london.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/avatar_g.jpg" style="width:100%">
  </div>

  <div class="w3-third">
    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/workbench.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/gondol.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/skies.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/lights.jpg" style="width:100%">
    <img src="https://www.w3schools.com/w3images/workshop.jpg" style="width:100%">
  </div>
</div>

<!-- End Page Content -->

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>감사합니다.</p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>
	
<script>
// Toggle grid padding
function myFunction() {
  var x = document.getElementById("myGrid");
  if (x.className === "w3-row") {
    x.className = "w3-row-padding";
  } else { 
    x.className = x.className.replace("w3-row-padding", "w3-row");
  }
}


//Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
</body>
</html>
